body {
  font-family: "Yu Gothic";
}

li {
  list-style: none;
}

.header {
  background-image : url("https://www.pakutaso.com/shared/img/thumb/kusatuIMG_3839_TP_V.jpg");
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: left;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container{
  color:black;
}
.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #a52a2a;
  font-family:"Yu Mincho";
}


.contents{
  height:700px;
  color:black;
}


.section-title{
  border-bottom: 2px solid #dee7ec;
}

.contents-item{
  float:left;
}

img.pictures{
  width:200px;
  height:250px;
  border:5px solid black;
  margin:2px;
}


.facebook {
  background-color: #3b5998;
  margin-right:5px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
.sharings{
  margin: 10px;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
